// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blue {
  color: #1fbed4;
}

.white {
  color: white;
}

#app {
  background-color: #022149;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .initial-message {
    font-size: 3em;
    text-align: center;
    font-family: 'Lilita One', cursive;
    margin: 1em;
  }
  .users-list-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1em;
    font-family: 'Lilita One', cursive;
    width: 800px;
  }

  .mug-shot {
    border-radius: 50%;
    height: 200px;
  }

  .user-container {
    margin: 30px;
  }

  .guess-who {
    font-size: 2em;
    font-family: 'Lilita One', cursive;
    color: white;
  }
}

