// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #022149;
}

.blue {
  color: #1fbed4;
}

.white {
  color: white;
}

.trombi {
  width: 100%;
  max-width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
}

#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  .bu-choice {
    color: #1fbded;
    font-family: 'Lilita One', cursive;
    padding: 12px 30px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px; 
    margin: 30px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    transition: .5s ease;

    &:hover {
      border: 1px solid #1fbded;
      // background-color: #1fbded;
      color: white;
      box-shadow: 0px 0px 5px white; 
    }
  }

  .bu-list {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
  .initial-message {
    font-size: 3em;
    text-align: center;
    font-family: 'Lilita One', cursive;
    margin: 1em;
  }
  .users-list-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1em;
    font-family: 'Lilita One', cursive;
    width: 800px;
  }

  .mug-shot {
    border-radius: 50%;
    height: 200px;
    border: 4px solid transparent;
  }

  .correct {
    background-color: red;
    border: 4px solid green;
  }

  .wrong {
    border: 4px solid red;
  }

  
  .user-container {
    margin: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease linear;
    
    .user-bu-list {
      opacity: 0;
    }
    &:hover .user-bu-list {
      opacity: 1;
    }
  }
  
  .guess-who {
    font-size: 2em;
    font-family: 'Lilita One', cursive;
    color: white;
  }
  
  #banner {
    position : absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
  }
  
  .banner--right {
    background-image: url('https://media.giphy.com/media/qvkiDE3xwRPdm/giphy.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 3em;
    text-align: center;
  }
  
  .banner--wrong {
    background-image: url('https://media.giphy.com/media/3o7TKr3nzbh5WgCFxe/giphy.gif');
    background-size: contain;
    color: white;
    font-size: 3em;
    text-align: center;
  }
  
  .banner-hidden {
    display: none;
  }
}
